@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.sub-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 30px 0 20px 0;
}

.text {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

body {
  font-family: "Lato", sans-serif;
}

.section-outer {
  padding: 0 20px;
}

.section-inner {
  max-width: 1180px;
  margin: 0 auto;
}

.section-header {
  background: url("../img/Bitmap.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
}
.section-header .section-inner {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  height: 100vh;
}
.section-header:before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 39, 41, 0.6);
}
.section-header .section-header-logo {
  padding: 50px 0 0 0;
  flex-shrink: 1;
}
.section-header .section-header-logo a {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.section-header .section-header-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.section-header .section-header-content {
  margin: 0 auto;
  color: #fff;
  font-family: "Lato", sans-serif;
}
.section-header .section-header-content .section-header-tittle {
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
}
.section-header .section-header-content .section-header-text {
  margin: 0 auto 44px;
  text-align: center;
  font-size: 18px;
  max-width: 67%;
  font-weight: 400;
  line-height: 32px;
}
.section-header .section-header-content .section-header-form {
  display: flex;
}
.section-header .section-header-content .section-header-form .section-header-input {
  flex: 1;
  padding: 0 30px 0 0;
}
.section-header .section-header-content .section-header-form .section-header-input input {
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  padding: 15px 20px;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
}
.section-header .section-header-content .section-header-form .section-header-input input::placeholder {
  color: #fff;
}
.section-header .section-header-content .section-header-form .button button {
  background: linear-gradient(90deg, #fe985b 0%, #fe4fa7 100%);
  color: #fff;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
}

.promo {
  padding: 100px 0 100px 0;
}
.promo .promo-wrapper {
  display: flex;
  color: #414141;
}
.promo .promo-wrapper .promo-text {
  padding: 0 90px 0 0;
  flex-basis: 50%;
}
.promo .promo-wrapper .promo-text .title {
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
}
.promo .promo-wrapper .promo-text .text {
  width: 75%;
}
.promo .promo-wrapper .promo-video {
  flex-basis: 50%;
}
.promo .promo-wrapper .promo-video img {
  width: 100%;
  height: auto;
}

.offer {
  margin: 0 0 100px 0;
}
.offer .section-inner {
  border-top: 1px solid #e2e2e2;
  padding: 100px 0 0 0;
}
.offer .offer-wrapper {
  display: flex;
}
.offer .offer-contain {
  text-align: center;
}

.about {
  padding: 30px 0 0 0;
  background: #f6fafd;
}
.about .about-wrapper {
  display: flex;
}
.about .about-wrapper .about-img {
  align-self: flex-end;
}
.about .about-wrapper .about-img img {
  width: 100%;
  height: auto;
}
.about .about-wrapper .about-text {
  align-self: center;
  padding: 0 0 0 50px;
  flex-basis: 53%;
}
.about .about-wrapper .main-text {
  color: #414141;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}
.about .about-wrapper .name {
  color: #414141;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.about .about-wrapper .work {
  color: #414141;
  font-size: 24px;
  line-height: 29px;
}

.plan {
  padding: 100px 0 0 0;
  max-width: 750px;
  margin: 0 auto;
}

.plan-content {
  text-align: center;
}
.plan-content .plan-text .title {
  color: #414141;
  font-size: 36px;
  font-weight: 700;
  line-height: 51px;
}
.plan-content .plan-text .sub-title {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin: 0 auto;
  max-width: 80%;
}

.plan-type {
  display: flex;
  justify-content: center;
}

.plan-type-contain {
  margin: 3%;
  padding: 8% 3%;
}

.plan-type-contain:hover {
  background: #f6fafd;
}
.plan-type-contain:hover button {
  background: linear-gradient(90deg, #fe985b 0%, #fe4fa7 100%);
  color: #ffffff;
  border: none;
}

.title {
  color: #414141;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0 0 3% 0;
}

.price-contain {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 15px 0;
}
.price-contain .cost {
  color: #fe4fa7;
  font-size: 72px;
  font-weight: 700;
}
.price-contain .month {
  color: #414141;
  font-size: 14px;
  font-weight: 700;
}

.plan-text {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.plan-button {
  max-width: 100%;
  margin: 15% 0 0 0;
}
.plan-button button {
  padding: 8px 30px;
  background: #fff;
  border: 1px solid #979797;
  color: #414141;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.aside {
  background: linear-gradient(90deg, #fe985b 0%, #fe4fa7 100%);
}

.aside-content {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.aside-content .aside-title {
  color: #ffffff;
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  padding: 0 0 15px 0;
}
.aside-content .sud-title {
  max-width: 50%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  padding: 0 0 15px 0;
}
.aside-content .aside-button button {
  padding: 10px 30px;
  border-radius: 3px;
  color: #464646;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  border: none;
}

footer {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 30vh;
}
footer .footer-content a {
  color: #464646;
  font-size: 24px;
  font-weight: 700;
}
footer .nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer .nav ul a {
  text-transform: uppercase;
  color: #464646;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
footer .nav ul a:hover {
  color: #FE50A6;
}
footer .list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer .list a {
  color: #464646;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
footer .list a:hover {
  text-decoration: underline;
}

.footer {
  padding: 100px 0 20px 0;
  text-align: center;
}
.footer .footer-content {
  display: flex;
  flex-direction: column;
}
.footer .footer-content a {
  color: #464646;
  font-size: 24px;
  font-weight: 700;
}
.footer .nav {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: center;
}
.footer .nav ul {
  display: flex;
}
.footer .nav ul li + li {
  padding: 0 0 0 60px;
}
.footer .nav ul a {
  text-transform: uppercase;
  color: #464646;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.footer .nav ul a:hover {
  color: #FE50A6;
}
.footer .list {
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
}
.footer .list ul {
  display: flex;
}
.footer .list ul li + li {
  padding: 0 0 0 40px;
}
.footer .list a {
  color: #464646;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.footer .list a:hover {
  text-decoration: underline;
}