@import "style-none.scss";

@mixin font-main {font-family: "Lato", sans-serif;
}
@mixin font-secondary{}

$color-main:#fff;


.sub-title{
            
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 30px 0 20px 0;
}    
.text{

    color: #6c6c6c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    

}



body{
    @include font-main;
}
.section-outer{
    padding: 0 20px;
    
}
.section-inner{
    max-width: 1180px;
    margin: 0 auto;
}

.section-header{
    background: url("../img/Bitmap.png") 50% 50% no-repeat;
    background-size: cover;
    position: relative;

    .section-inner{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 10;
        height: 100vh;
        }

    &:before{
        content:'';
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(20, 39, 41, .6) ;
        }

  

    
    .section-header-logo{
      padding:50px 0 0 0;
      flex-shrink: 1;

      a{
        color:$color-main;
        @include font-main;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
      }
  }  

  .section-header-wrapper{
    flex-grow: 1;
    display: flex;
    align-items: center;
    
    
  }

  .section-header-content{
    margin: 0 auto;
    color: $color-main;
    @include font-main;

      .section-header-tittle{
        text-align: center;
        font-size: 55px;
        font-weight: 700;
        line-height: 60px;
        

    }  

    .section-header-text{
        margin: 0 auto 44px;
        text-align: center;
        font-size: 18px;
        max-width: 67%;
        font-weight: 400;
        line-height: 32px;

    }
    .section-header-form{
        display: flex;
   
            .section-header-input{
                flex:1;
                padding: 0 30px 0 0; 

                
                input{
                    width: 100%;
                    background:rgb(255, 255, 255, .25);
                    padding: 15px 20px;
                    color:$color-main;
                    font-size: 16px;
                    border-radius: 4px;

                    &::placeholder{
                        color:$color-main;
                    }
                    
                }
            }

            .button{

                button{
                    background: linear-gradient(90deg, #fe985b 0%, #fe4fa7 100%);
                    color:$color-main;
                    padding: 15px 20px;
                    font-size: 16px;
                    border-radius: 4px;
                    
                }
            }
      
    }



  }

}

.promo{
    padding: 100px 0 100px 0;


    .promo-wrapper{
    
    display: flex;
    color: #414141;


        .promo-text{
            padding: 0 90px 0 0 ;
            flex-basis: 50%;
            
            
        
            .title{

                font-size: 32px;
                font-weight: 700;
                line-height: 51px;

            }
            .text{
                width: 75%;
            }

        }
        .promo-video{
            flex-basis: 50%;
            
            
            img{
        
            width: 100%;
            height: auto;
            }
    
        }
    }



}


.offer{
    margin: 0 0 100px 0;
    
    .section-inner{
        border-top: 1px solid #e2e2e2;
        padding: 100px 0 0 0;

    }
    .offer-wrapper{
     
        display: flex;
    }

    .offer-contain{
        text-align: center;

    }

}


.about{
    padding: 30px 0 0 0;
    background: #f6fafd;
    
    

    .about-wrapper{
        display: flex;


        .about-img{
            
            align-self: flex-end;
            
            

            img{
                width: 100%;
                height: auto; 
                
            }
        }

        .about-text{
            align-self: center;
            padding: 0 0 0 50px;
            flex-basis: 53%;
            
           
           
        }
        .main-text{
            color: #414141;
            font-size: 24px;
            font-weight: 400;
            line-height: 40px;
           
           

        }
        .name{
            color: #414141;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;

        }
        .work{
            color: #414141;
            font-size: 24px;
            line-height: 29px;

        }
    }
}

.plan{
    padding: 100px 0 0 0;
    max-width: 750px;
    margin:  0 auto;
    }
    .plan-content{
        
       
      
        text-align: center;

        .plan-text{
            
            
            .title{
                color: #414141;
                font-size: 36px;
                font-weight: 700;
                line-height: 51px;
                
            }

            .sub-title{
                color: #6c6c6c;
                font-size: 16px;
                font-weight: 300;
                line-height: 28px;
                margin:  0 auto;
                max-width: 80%;
            }
        }

       
    }
    .plan-type{
       display: flex;
       
       justify-content: center;
}
    
       
       .plan-type-contain{
        margin: 3%;
        padding: 8% 3% ;
    }

        .plan-type-contain:hover{
            background:#f6fafd;

           button{
                background: linear-gradient(90deg, #fe985b 0%, #fe4fa7 100%);
                color: #ffffff;
                border:none
            }
        }
        .title{
            color: #414141;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            text-transform: uppercase;
            margin: 0 0 3% 0;
        }

        .price-contain{
            display: flex;
            justify-content: center;
            align-items:flex-end;
            padding: 0 0 15px 0;

            .cost{
                
                color: #fe4fa7;
                font-size: 72px;
                font-weight: 700;  
            }
            .month{
                color: #414141;
                font-size: 14px;
                font-weight: 700;        
            }
           
            }
            .plan-text{
                color: #6c6c6c;
                font-size: 16px;
                font-weight: 300;
                line-height: 28px;
                
              }

              .plan-button{
                max-width: 100%;
                margin: 15% 0 0 0;

                button{
                    
                    padding: 8px 30px;
                    background: #fff;
                    border: 1px solid #979797;
                    color: #414141;
                    font-family: Lato;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22px;
                    
                }
              }


              .aside{
                background: linear-gradient(90deg, #fe985b 0%, #fe4fa7 100%);
                
                
                }
                .aside-content{
                   padding: 50px 0;
                   display: flex;
                   flex-direction: column;
                   justify-content: space-around;
                   text-align: center;
           
                   .aside-title{
                       color: #ffffff;
                       font-size: 55px;
                       font-weight: 700;
                       line-height: 60px;
                       padding: 0 0 15px 0;
                      
                   }
           
                   .sud-title{
                       max-width: 50%;
                       margin: 0 auto;
                       font-size: 20px;
                       font-weight: 400;
                       line-height: 30px;
                       color: #ffffff;
                       padding: 0 0 15px 0;
           
                   }
           
                   .aside-button{
                       button{
                           padding: 10px 30px;
                           border-radius: 3px;
                           color: #464646;
                           font-size: 18px;
                           font-weight: 400;
                           line-height: 22px;
                           border:none;
                       }
                   }
                }
           
 footer{
    width: 700px;
    margin: 0 auto;
    text-align: center;
    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height:30vh ;
        
        a{
            color: #464646;
            font-size: 24px;
            font-weight: 700;
        }
    }

    .nav{

        ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        a{
            text-transform: uppercase;
            color: #464646;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            }
            a:hover{
                color:#FE50A6
           
        }
        
     }
   
   
    } 
    
    .list{
        ul{
       display: flex;
       flex-direction: row;
       justify-content: space-around;
        }
        a{
            color: #464646;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
        }
        a:hover{
            text-decoration: underline;
        }
   }   
}


.footer{
   padding: 100px 0 20px 0;
    text-align: center;
    .footer-content{
        display: flex;
        flex-direction: column;
        
        
        
        a{
            color: #464646;
            font-size: 24px;
            font-weight: 700;
        }
    }

    .nav{
        padding: 50px 0 0 0;
        display: flex;
        justify-content: center;

        ul{
        display: flex;
            li+li{
                padding: 0 0 0 60px;
            }

        
        

        a{
            text-transform: uppercase;
            color: #464646;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            }
            a:hover{
                color:#FE50A6
           
        }
        
     }
   
   
    } 
    
    .list{
        margin: 30px 0 0 0;
        display: flex;
        justify-content: center;

        ul{
       display: flex;
       li+li{
        padding: 0 0 0 40px;
    }

      
        }
        a{
            color: #464646;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
        }
        a:hover{
            text-decoration: underline;
        }
   }   
}